 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(68,40,20,0.5), rgba(68,40,20,0.5)), url("images/tabitha-turner-F0Wd4djYvSA-unsplash.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 327px;
}

.u-section-1 .u-text-1 {
  margin: 153px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 98px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(116,95,68,0.4), rgba(116,95,68,0.4)), url("images/gettyimages-1344031336-612x612.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 588px;
}

.u-section-2 .u-text-1 {
  margin: 14px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 245px;
  background-image: url("images/nathan-dumlao-dAYJfrtVjh0-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-2 .u-image-2 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/anderson-barbosa-XgH4sjl1Ozo-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-2 .u-image-3 {
  min-height: 245px;
  background-image: url("images/christina-dibernardo-MXXTl3Cj2Og-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-2 .u-image-4 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/anubhav-arora-RFLDagtOsMM-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 166px auto -8px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 31px;
  margin-bottom: 10px;
}

.u-section-2 .u-image-5 {
  min-height: 267px;
  background-image: url("images/jonathan-borba-7TeR1A1MUpM-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 13px 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-2 .u-image-6 {
  min-height: 267px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/zoe-gXtvTOs4tzg-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 22px 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-2 .u-image-7 {
  min-height: 267px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/natalie-grainger-bmnuRawqdsI-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 22px 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-2 .u-image-8 {
  min-height: 267px;
  background-image: url("images/gettyimages-1408152738-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 22px 30px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 166px auto -8px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 202px;
  }

  .u-section-2 .u-image-2 {
    min-height: 202px;
  }

  .u-section-2 .u-image-3 {
    min-height: 202px;
  }

  .u-section-2 .u-image-4 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-image-5 {
    min-height: 220px;
  }

  .u-section-2 .u-image-6 {
    min-height: 220px;
  }

  .u-section-2 .u-image-7 {
    min-height: 220px;
  }

  .u-section-2 .u-image-8 {
    min-height: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-image-1 {
    min-height: 309px;
  }

  .u-section-2 .u-image-2 {
    min-height: 309px;
  }

  .u-section-2 .u-image-3 {
    min-height: 309px;
  }

  .u-section-2 .u-image-4 {
    min-height: 309px;
  }

  .u-section-2 .u-image-5 {
    min-height: 337px;
  }

  .u-section-2 .u-image-6 {
    min-height: 337px;
  }

  .u-section-2 .u-image-7 {
    min-height: 337px;
  }

  .u-section-2 .u-image-8 {
    min-height: 337px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2883px;
  }

  .u-section-2 .u-image-1 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 37px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-6 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-7 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-8 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 37px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1806px;
  }

  .u-section-2 .u-image-1 {
    min-height: 292px;
  }

  .u-section-2 .u-image-2 {
    min-height: 292px;
  }

  .u-section-2 .u-image-3 {
    min-height: 292px;
  }

  .u-section-2 .u-image-4 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-image-5 {
    min-height: 319px;
  }

  .u-section-2 .u-image-6 {
    min-height: 292px;
  }

  .u-section-2 .u-image-7 {
    min-height: 292px;
  }

  .u-section-2 .u-image-8 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 22px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 124px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(255,0,0,0.5), rgba(255,0,0,0.5)), url("images/gettyimages-183338431-612x612.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 1218px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 245px;
  background-image: url("images/Coffee-Cake-1024x536.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-4 .u-image-2 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Glazed-Donuts.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-4 .u-image-3 {
  min-height: 245px;
  background-image: url("images/Bagel-1024x536.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-4 .u-image-4 {
  min-height: 245px;
  background-image: url("images/dark-chocolate.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 166px auto -8px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-4 .u-image-5 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/scrambled-eggs.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 13px 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-4 .u-image-6 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Ham-and-Cheese-Crepes.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 22px 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-4 .u-image-7 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/waffles_vs_pancakes-1024x536.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 22px 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-4 .u-image-8 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Tiramisu.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 22px 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-layout-wrap-3 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-image-9 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Peanut-Butter-and-Banana-Sandwich-1024x683.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-9 {
  padding: 13px 30px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-4 .u-image-10 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/banana-nut-bread.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-10 {
  padding: 22px 30px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-4 .u-image-11 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/bisquick-blueberry-muffin-1024x536.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-11 {
  padding: 22px 30px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-4 .u-image-12 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Reuben-Sandwich.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-12 {
  padding: 22px 30px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  margin: 166px auto -8px;
}

.u-section-4 .u-layout-wrap-4 {
  margin-top: 60px;
  margin-bottom: 42px;
}

.u-section-4 .u-image-13 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/jacob-thomas-6jHpcBPw7i8-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-13 {
  padding: 13px 30px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-4 .u-image-14 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Biscotti.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-14 {
  padding: 22px 30px;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-4 .u-image-15 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Bacon.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-15 {
  padding: 22px 30px;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-4 .u-image-16 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/brownies-1024x536.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-16 {
  padding: 22px 30px;
}

.u-section-4 .u-text-16 {
  font-weight: 700;
  margin: 166px auto -8px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 202px;
  }

  .u-section-4 .u-image-2 {
    min-height: 202px;
  }

  .u-section-4 .u-image-3 {
    min-height: 202px;
  }

  .u-section-4 .u-image-4 {
    min-height: 202px;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-4 .u-image-5 {
    min-height: 202px;
  }

  .u-section-4 .u-image-6 {
    min-height: 202px;
  }

  .u-section-4 .u-image-7 {
    min-height: 202px;
  }

  .u-section-4 .u-image-8 {
    min-height: 202px;
  }

  .u-section-4 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-4 .u-image-9 {
    min-height: 202px;
  }

  .u-section-4 .u-image-10 {
    min-height: 202px;
  }

  .u-section-4 .u-image-11 {
    min-height: 202px;
  }

  .u-section-4 .u-image-12 {
    min-height: 202px;
  }

  .u-section-4 .u-layout-wrap-4 {
    position: relative;
  }

  .u-section-4 .u-image-13 {
    min-height: 202px;
  }

  .u-section-4 .u-image-14 {
    min-height: 202px;
  }

  .u-section-4 .u-image-15 {
    min-height: 202px;
  }

  .u-section-4 .u-image-16 {
    min-height: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2710px;
  }

  .u-section-4 .u-image-1 {
    min-height: 309px;
  }

  .u-section-4 .u-image-2 {
    min-height: 309px;
  }

  .u-section-4 .u-image-3 {
    min-height: 309px;
  }

  .u-section-4 .u-image-4 {
    min-height: 309px;
  }

  .u-section-4 .u-image-5 {
    min-height: 309px;
  }

  .u-section-4 .u-image-6 {
    min-height: 309px;
  }

  .u-section-4 .u-image-7 {
    min-height: 309px;
  }

  .u-section-4 .u-image-8 {
    min-height: 309px;
  }

  .u-section-4 .u-image-9 {
    min-height: 309px;
  }

  .u-section-4 .u-image-10 {
    min-height: 309px;
  }

  .u-section-4 .u-image-11 {
    min-height: 309px;
  }

  .u-section-4 .u-image-12 {
    min-height: 309px;
  }

  .u-section-4 .u-image-13 {
    min-height: 309px;
  }

  .u-section-4 .u-image-14 {
    min-height: 309px;
  }

  .u-section-4 .u-image-15 {
    min-height: 309px;
  }

  .u-section-4 .u-image-16 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 5806px;
  }

  .u-section-4 .u-image-1 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-3 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-4 {
    min-height: 465px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 37px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 103px;
  }

  .u-section-4 .u-image-5 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-6 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-7 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-8 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-3 {
    margin-top: 15px;
  }

  .u-section-4 .u-image-9 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-10 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-left: 180px;
  }

  .u-section-4 .u-image-11 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-12 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-wrap-4 {
    margin-top: 15px;
  }

  .u-section-4 .u-image-13 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-14 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-15 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-16 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3742px;
  }

  .u-section-4 .u-image-1 {
    min-height: 292px;
  }

  .u-section-4 .u-image-2 {
    min-height: 292px;
  }

  .u-section-4 .u-image-3 {
    min-height: 292px;
  }

  .u-section-4 .u-image-4 {
    min-height: 293px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 22px;
  }

  .u-section-4 .u-image-5 {
    min-height: 292px;
  }

  .u-section-4 .u-image-6 {
    min-height: 292px;
  }

  .u-section-4 .u-image-7 {
    min-height: 292px;
  }

  .u-section-4 .u-image-8 {
    min-height: 292px;
  }

  .u-section-4 .u-image-9 {
    min-height: 292px;
  }

  .u-section-4 .u-image-10 {
    min-height: 292px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 111px;
  }

  .u-section-4 .u-image-11 {
    min-height: 292px;
  }

  .u-section-4 .u-image-12 {
    min-height: 292px;
  }

  .u-section-4 .u-image-13 {
    min-height: 292px;
  }

  .u-section-4 .u-image-14 {
    min-height: 292px;
  }

  .u-section-4 .u-image-15 {
    min-height: 292px;
  }

  .u-section-4 .u-image-16 {
    min-height: 292px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(241,197,14,0.25), rgba(241,197,14,0.25)), url("images/gettyimages-1277538725-612x612.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 1025px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/spicy-chips-masala-recipe-main-photo.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-5 .u-image-2 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/roni-herdyanzah-O3OOIgTCpVo-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-5 .u-image-3 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/gettyimages-1234928310-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-5 .u-image-4 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gettyimages-157559426-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 166px auto -8px;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 82px;
  margin-bottom: 0;
}

.u-section-5 .u-image-5 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gettyimages-1140006569-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 13px 30px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-5 .u-image-6 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/gettyimages-1329999130-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 22px 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-5 .u-image-7 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/gettyimages-168480043-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-7 {
  padding: 22px 30px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-5 .u-image-8 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gettyimages-185110891-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-8 {
  padding: 22px 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 166px auto -8px;
}

.u-section-5 .u-layout-wrap-3 {
  margin-top: 82px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-9 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gettyimages-1279158049-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-9 {
  padding: 13px 30px;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-5 .u-image-10 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/gettyimages-1332910519-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-10 {
  padding: 22px 30px;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-5 .u-image-11 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/gettyimages-1352657959-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-11 {
  padding: 22px 30px;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-5 .u-image-12 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fish.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-12 {
  padding: 22px 30px;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  margin: 166px auto -8px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-image-1 {
    min-height: 202px;
  }

  .u-section-5 .u-image-2 {
    min-height: 202px;
  }

  .u-section-5 .u-image-3 {
    min-height: 202px;
  }

  .u-section-5 .u-image-4 {
    min-height: 202px;
  }

  .u-section-5 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-5 .u-image-5 {
    min-height: 202px;
  }

  .u-section-5 .u-image-6 {
    min-height: 202px;
  }

  .u-section-5 .u-image-7 {
    min-height: 202px;
  }

  .u-section-5 .u-image-8 {
    min-height: 202px;
  }

  .u-section-5 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-5 .u-image-9 {
    min-height: 202px;
  }

  .u-section-5 .u-image-10 {
    min-height: 202px;
  }

  .u-section-5 .u-image-11 {
    min-height: 202px;
  }

  .u-section-5 .u-image-12 {
    min-height: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1964px;
  }

  .u-section-5 .u-image-1 {
    min-height: 309px;
  }

  .u-section-5 .u-image-2 {
    min-height: 309px;
  }

  .u-section-5 .u-image-3 {
    min-height: 309px;
  }

  .u-section-5 .u-image-4 {
    min-height: 309px;
  }

  .u-section-5 .u-image-5 {
    min-height: 309px;
  }

  .u-section-5 .u-image-6 {
    min-height: 309px;
  }

  .u-section-5 .u-image-7 {
    min-height: 309px;
  }

  .u-section-5 .u-image-8 {
    min-height: 309px;
  }

  .u-section-5 .u-image-9 {
    min-height: 309px;
  }

  .u-section-5 .u-image-10 {
    min-height: 309px;
  }

  .u-section-5 .u-image-11 {
    min-height: 309px;
  }

  .u-section-5 .u-image-12 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 4286px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 15px;
  }

  .u-section-5 .u-image-1 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-3 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-4 {
    min-height: 463px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 15px;
  }

  .u-section-5 .u-image-5 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 388px;
  }

  .u-section-5 .u-image-6 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-7 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-8 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-wrap-3 {
    margin-top: 15px;
  }

  .u-section-5 .u-image-9 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-10 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-10 {
    padding: 14px 10px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 401px;
    margin-bottom: -8px;
  }

  .u-section-5 .u-image-11 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-11 {
    padding: 14px 10px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-top: 401px;
    margin-bottom: -8px;
  }

  .u-section-5 .u-image-12 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2738px;
  }

  .u-section-5 .u-image-1 {
    min-height: 292px;
  }

  .u-section-5 .u-image-2 {
    min-height: 292px;
  }

  .u-section-5 .u-image-3 {
    min-height: 292px;
  }

  .u-section-5 .u-image-4 {
    min-height: 292px;
  }

  .u-section-5 .u-image-5 {
    min-height: 292px;
  }

  .u-section-5 .u-image-6 {
    min-height: 292px;
  }

  .u-section-5 .u-image-7 {
    min-height: 292px;
  }

  .u-section-5 .u-image-8 {
    min-height: 292px;
  }

  .u-section-5 .u-image-9 {
    min-height: 292px;
  }

  .u-section-5 .u-image-10 {
    min-height: 292px;
  }

  .u-section-5 .u-image-11 {
    min-height: 292px;
  }

  .u-section-5 .u-image-12 {
    min-height: 292px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(230,131,135,0.4), rgba(230,131,135,0.4)), url("images/gettyimages-691448664-612x612.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 691px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2433745-44c6996c71b24326b6d31ed694bb738e.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-6 .u-image-2 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/4539063-2000-5949684bb2a04a8b9a429bb5a45332a4.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-6 .u-image-3 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/827520-0770a4963900479c9b0d29b3c828e557.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-6 .u-image-4 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/997433-80bbe2af76024288a30bd205bd99f9b6.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 166px auto -8px;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-5 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gettyimages-175381232-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 13px 30px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 175px auto 0;
}

.u-section-6 .u-image-6 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/gettyimages-98841227-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 22px 30px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-6 .u-image-7 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/cobb-salad-1aad9a3839fc480a997cd4b8547809c7.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-7 {
  padding: 22px 30px;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 166px auto 0;
}

.u-section-6 .u-image-8 {
  min-height: 245px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/5543489-7a402455a08a49ffb789075dd82421ae.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-8 {
  padding: 22px 30px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 166px auto -8px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 202px;
  }

  .u-section-6 .u-image-2 {
    min-height: 202px;
  }

  .u-section-6 .u-image-3 {
    min-height: 202px;
  }

  .u-section-6 .u-image-4 {
    min-height: 202px;
  }

  .u-section-6 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-6 .u-image-5 {
    min-height: 202px;
  }

  .u-section-6 .u-image-6 {
    min-height: 202px;
  }

  .u-section-6 .u-image-7 {
    min-height: 202px;
  }

  .u-section-6 .u-image-8 {
    min-height: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-6 .u-image-1 {
    min-height: 309px;
  }

  .u-section-6 .u-image-2 {
    min-height: 309px;
  }

  .u-section-6 .u-image-3 {
    min-height: 309px;
  }

  .u-section-6 .u-image-4 {
    min-height: 309px;
  }

  .u-section-6 .u-image-5 {
    min-height: 309px;
  }

  .u-section-6 .u-image-6 {
    min-height: 309px;
  }

  .u-section-6 .u-image-7 {
    min-height: 309px;
  }

  .u-section-6 .u-image-8 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2799px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 15px;
  }

  .u-section-6 .u-image-1 {
    min-height: 463px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 387px;
  }

  .u-section-6 .u-image-2 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-image-3 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-image-4 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 377px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 18px;
  }

  .u-section-6 .u-image-5 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 395px;
  }

  .u-section-6 .u-image-6 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-image-7 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-image-8 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2554px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 42px;
  }

  .u-section-6 .u-image-1 {
    min-height: 267px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 181px;
  }

  .u-section-6 .u-image-2 {
    min-height: 258px;
  }

  .u-section-6 .u-image-3 {
    min-height: 274px;
  }

  .u-section-6 .u-image-4 {
    min-height: 416px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 27px;
    padding-bottom: 0;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 42px;
  }

  .u-section-6 .u-image-5 {
    min-height: 292px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 12px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 288px;
  }

  .u-section-6 .u-image-6 {
    min-height: 267px;
  }

  .u-section-6 .u-image-7 {
    min-height: 270px;
  }

  .u-section-6 .u-image-8 {
    min-height: 267px;
  }
}